// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: $color__text-screen;
  text-transform: uppercase;
  height: 2rem;
  @include border-radius($badge-border-radius);
	background: #ccc;
	line-height: 1;
	margin: 0;
	text-align: center;
	text-decoration: none;
  // Empty badges collapse automatically

  &:empty {
    display: none;
  }
  &.new {
	background: #69F0AE;
  }
  & + .label {
	  margin-left: .8rem;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}
