i[class*="icon"] {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	opacity: 0.48;
}

.feather {
	display: inline-block;
	height: 1.6rem;
	width: 1.6rem;
	vertical-align: middle;
	stroke: $gray-600;
	&:hover {
		stroke: $color_brand;
		opacity: 1;
	}
}

.icon-brand {
	g {
		stroke: $color_brand;	
	}
}

.arrow-both {
	background: url("img/icons/arrow-left-right.svg") no-repeat center center;
	display: inline-block;
	text-indent: -9999em;
	overflow: hidden;
	width: 3.2rem;
	height: 3.2rem;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: 100% auto;
}