// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  border-width: 0 !important;
  position: relative;
  @include media-breakpoint-down(md) {
	  padding: $nav-link-padding-y;
  }
  &:after {
	content: "";  
  	position: absolute;
    bottom: -.4rem;
    left: 50%;
    right: 50%;
    height: 1px;
    transition: all ease .2s;
	background: $color_brand;
	@include media-breakpoint-down(sm) {
		opacity: 0;		  
	}
  }
  &:before {
	content: "";  
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
    color: #eee;
    opacity: .3;
    font-weight: 100;
    font-size: .8em;
  }
  &:hover:after {
	left: 1.6rem;
	right: 1.6rem;
	height: 2px;
  }
  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
  }
  .badge {
	  position: absolute;
	  top: -.8rem;
	  right: 0;
  }
}

.current-menu-item .nav-link {
	color: $color_brand;
	&:after {
		left: 1.6rem;
		right: 1.6rem;
		height: 2px;
	}
}

//
// Tabs
//

.nav-tabs {
//   border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  border: 1px solid $color_brand;
  @include border-radius($nav-pills-border-radius);
  
  .nav-item {
//     margin-bottom: -$nav-tabs-border-width;
		&:first-child .nav-link {
			@include border-radius($nav-tabs-border-radius 0 0 $nav-tabs-border-radius);
		}
		&:last-child .nav-link {
			@include border-radius(0 $nav-tabs-border-radius $nav-tabs-border-radius 0);
			
		}

  }

  .nav-link {
//     border: $nav-tabs-border-width solid transparent;
    @include border-radius(0);
	border-width: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: $color_brand;
    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
//     border-color: $nav-tabs-link-active-border-color $nav-tabs-link-active-border-color $nav-tabs-link-active-bg;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}


//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
