//
// Visibility utilities
//


.visible {
  @include invisible(visible);
}

.invisible {
  @include invisible(hidden);
}

.mobile-visible {
	display: none;
	@include media-breakpoint-down(sm) {
		display: block;
	}

}
