p {
	margin: 0;
	padding-bottom: 2.4rem;
// 	max-width: 33em;
// 	color: $gray-700;
	&.tiny {
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $light;
		padding-bottom: 1.6rem;
	}
	&.large {
		font-size: 2.1rem;
		line-height: 2.4rem;
		padding-bottom: 2.4rem;
		color: $gray-500;
// 		font-weight: 300;
		@include media-breakpoint-down(md) {
			font-size: calc(1.8rem + (3 * (100vw - 400px)/ 880)); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
		}

	}
}

.quote {
	&.large {
		font-size: 3.2rem;
		line-height: 1.25;
		font-weight: normal;
		&:before {
			opacity: 0;
		}
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
// 	background: $color__background-pre;
// 	font-family: $font__pre;
// 	font-size(0.9375);
// 	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
// 	font-family: $font__code;
// 	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.quote {
	font-size: 2.4rem;
	line-height: 3.2rem;
	margin: 4.8rem 0 3.2rem;
	position: relative;
	&:before {
		height: .4rem;
		width: 1.6rem;
		background: $color_brand;
		content: "";
		left: -2.4rem;
		top: 1.2rem;
		position: absolute;
	}
}

cite {
	font-style: normal;
	display: block;
	font-weight: bold;
/*
	font-size: 1.4rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	font-weight: bold;
	color: $color_brand;
*/
}


/*De-emphasize*/
.light {
	color: $light;
}
.lighter {
	color: $lighter;
	&.inv {
		color: #E3E4E8;
	}
}

/*Utilities*/
.serif {
	font-family: "NantestTrial-Bold", "nantes trial", serif;
}


/**
* Post-related copy
*
*/
.entry-content {
	font-size: 1.8rem;
	line-height: 1.7777777;
	color: $gray-700;
	a {
		display: inline-block;
		position: relative;
		cursor: pointer;
// 		padding: 0 2px;
		&:after {
			content: "";
			position: absolute;
			z-index: 999;
			top: calc(80% - 3px);
			left: 0px;			
// 			padding: 0 1px;
			width: 100%;
			height: 3px;
			background: $color_brand;
			transition: 0.4s;
		}
		&:hover {
			text-decoration: none;
		}
		&:hover:after {
			height: 80%;
			top: 0%;
			background: rgba($color_brand, .125);
		}
	}
	p {
// 		max-width: 66.66%;
	}
	ul, ol {
		padding-left: 0;
		counter-reset: my-badass-counter;

	}
	li {
		padding-left: 2.4rem;
		padding-bottom: 1.6rem;
		position: relative;
		list-style: none;
	}
	ul li:before {
		content: "";
		position: absolute;
		left: 0;
		top: .8rem;
		height: .8rem;
		width: .8rem;
		@include border-radius(50%);
		background: $gray-700;
	}
	ol li {
		list-style: decimal;
		padding-left: 0;
	}
}