// Modular Scale + Fluid Typography - https://codepen.io/MadeByMike/pen/VvwqvW

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

// Change scale

$mod_1: 1.067;
$mod_2: 1.333;


// Calculate Modular Scale
// You don't need to calculate this with Sass 
// You can use values from http://type-scale.com/
// Or random values :)

/*
$h1-min: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
$h1-max: $mod_2 * $mod_2 * $mod_2 * $mod_2 * 1rem;

$h2-min: $mod_1 * $mod_1 * $mod_1 * 1rem;
$h2-max: $mod_2 * $mod_2 * $mod_2 * 1rem;

$h3-min: $mod_1 * $mod_1 * 1rem;
$h3-max: $mod_2 * $mod_2 * 1rem;

$h4-min: $mod_1 * 1rem;
$h4-max: $mod_2 * 1rem;

$h5-min: 1rem;
$h5-max: 1rem;

$h6-min: (1rem / $mod_1);
$h6-max: (1rem / $mod_2);

// Apply fluid type mixin


h1{ 
	@include fluid-type(font-size,37.5rem, 80rem, $h1-min, $h1-max);
}

h2{ 
	@include fluid-type(font-size,37.5rem, 80rem, $h2-min, $h2-max);
}

h3{ 
	@include fluid-type(font-size,37.5rem, 80rem, $h3-min, $h3-max);
}

h4{ 
	@include fluid-type(font-size,37.5rem, 80rem, $h4-min, $h4-max);
}

h5{ 
	@include fluid-type(font-size,37.5rem, 80rem, $h5-min, $h5-max);
}

h6{	
	@include fluid-type(font-size, 37.5rem, 80rem, $h6-min, $h6-max);
}
*/




h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
}

h1 {
 	font-size: 4.7rem;
 	line-height: 1.191489;
	font-family: "NantestTrial-Bold", "nantes trial", serif;
	letter-spacing: -0.2px;
	padding-bottom: 2.4rem;
	@include media-breakpoint-down(md) {
		font-size: calc(2.9rem + (19 * (100vw - 400px)/ 880)); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
	}
}

 h2 {
 	font-size: 4.2rem;
 	line-height: 1.1428571429;
 	padding-bottom: 2.4rem;
	@include media-breakpoint-down(md) {
		font-size: calc(2.4rem + (18 * (100vw - 400px)/ 880)); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
	}
}

h3 {
 	font-size: 3.2rem;
	line-height: 1.25;
	padding-bottom: 1.6rem;
	font-weight: bold;
	font-family: "NantestTrial-Bold", "nantes trial", serif;
	@include media-breakpoint-down(md) {
		font-size: calc(2.1rem + (11 * (100vw - 400px)/ 880)); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
	}
}

h4 {
	font-size: 2.4rem;
	line-height: 1.3333333;
	padding-bottom: 1.6rem;
	font-weight: 600;
	@include media-breakpoint-down(md) {
		font-size: calc(1.8rem + (6 * (100vw - 400px)/ 880)); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
	}
}

h5 {
	font-size: 1.8rem;
	line-height: 1.333;
	font-weight: bold;
	padding-bottom: .8rem;
	@include media-breakpoint-down(md) {
		font-size: calc(1.6rem + (2 * (100vw - 400px)/ 880)); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
	}

}

h6 {
	font-size: 1.4rem;
	line-height: 1.714285;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: .8rem;
}