html {
	font-size: 62.5%;
}


body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1.6rem;
	line-height: $line-height-base;
}

@import "headings";

@import "copy";
