.site-footer {
	padding: 7.2rem 0 9.6rem;
// 	background: $snow;
	background: $gray-900;
	box-shadow: inset 0 1px 0 rgba($gray-900, .125);
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	li {
		list-style: none;
		display: block;
		padding-bottom: .8rem;
	}
	a {
// 		display: block;
		color: $gray-600;
	}
	.footer-links {
// 		margin-top: 5.5vh;
	}
	.site-info {
		a {
			margin-bottom: 1.6rem;
		}
	}
}

.footer-links {
	margin-bottom: 3.2rem;	
}
.app-links {
/*
	justify-content: flex-end;
	display: flex;
	margin-bottom: 1.6rem;
*/
// 	margin-bottom: 1.6rem;
	a {
		margin-right: 1.6rem;
	}
	@include media-breakpoint-down(sm) {
		margin-bottom: 1.6rem;
	}
}
.bottom-footer {
	padding: 2vh 0 2vh;
	margin-top: 6vh;
}
.site-stuff {
	margin-top: 4.8rem;
	p {
		padding-bottom: 0;
	}
}
.footer-logo {
	display: block;
	margin-bottom: 1.6rem;
}
.social-links {
	display: inline-block;
	li {
		display: inline-block;
		margin-left: 1.6rem;
		@include media-breakpoint-down(sm) {
			margin: 1.6rem 1.6rem 0 0;
		}
	}
	a {
		display: block;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		text-indent: 9999em;
		overflow: hidden;
		width: 2.4rem;
		height: 2.4rem;
		opacity: 0.48;
// 		margin-bottom: 1.6rem;
		&:hover {
			opacity: 1;
		}
	}
	.facebook {
		background-image: url("img/icons/Facebook-Logo.svg");
	}
	.twitter {
		background-image: url("img/icons/Twitter-Logo.svg");
	}
	.li {
		background-image: url("img/icons/LinkedIn-logo.svg");
	}
}