body.admin-bar {}
.site-header {
	margin: 0 auto;
	padding: .8rem 0;
	left: 0;
	right: 0;
	background: $white;
	z-index: 1001;
	position: relative;
/*
	-webkit-box-shadow: inset 0 -1px 0 rgba($color__text-screen, .12);
	-moz-box-shadow: inset 0 -1px 0 rgba($color__text-screen, .12);
	box-shadow: inset 0 -1px 0 rgba($color__text-screen, .12);
*/
/*
	@include media-breakpoint-down(sm) {
		height: 6.4rem;
	}
*/
}

.header-container {
    display: flex;
//     position: relative;
}

.site-branding {
	display: flex;
	a {
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: .8rem 0;
	}
}

#navbarNavDropdown {
	@include media-breakpoint-down(sm) {
// 		display: block;
		background: $white;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 1001;
		padding: 1.6rem 5%;
		box-shadow: 0 4px 8px rgba($gray-900, .125);
	}
}
