.site-content {
// 	padding-top: 7.2rem;
}

.hero {
	position: relative;
	padding-top: 14.4rem;
	.content {
	//	grid-column: span 5;
		justify-content: space-around;
	}
	h1 {
		padding-bottom: 3.2rem;
		padding-top: 2.4rem;
	}
	.hero_cta {
		
	}
	.btn {
		display: inline-block;
		margin-bottom: 0.8rem;
	}
	.graphic {
	//	grid-column: span 7;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 7vh;
	}
}

.announcement {
	position: absolute;
	top: 6vh;
	padding: 0 $grid-gutter-width/2;
	word-wrap: break-word;
	@include media-breakpoint-down(sm) {
		top: 0vh;
		left: 0;
		right: 0;
// 		width: calc(100% - 16px);
		background: rgba($gray-900, .125);
		padding-left: 5%;
		padding-right: 5%;
		.badge {
			display: none;
		}
		a {
			font-size: calc(1.2rem + (2 * (100vw - 320px)/ (768 - 320))); // min-font-size + (max-font-size - min-font-size) * (100vw - min-screen-size)/ (max-screen-size - min-screen-size);
		}
	}

	span {
		display: inline-block;
	}
	a {
		display: block;
		padding: .4rem 0;
		font-size: 1.4rem;
		line-height: 2.4rem;
	}	
}

.client-list {
	margin-top: 3.2rem;
	margin-bottom: 3.2rem;
	.row {
		justify-content: center;
		align-items: flex-start;
	}
	article {
		display: flex;
		position: relative;
		height: 7.2rem;
		overflow: hidden;
		flex-basis: 20%;
		@include media-breakpoint-down(sm) {
			flex-basis: 33%;
			margin-bottom: 1.6rem;
		}		}
	a {
// 		padding: 0 1.2rem;
		display: block;
		position: relative;
		width: 100%;
		height: 7.2rem;
		overflow: hidden;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
	}
}


.why-us {
	background: $snow;
	padding: 7.2rem 0 9.6rem;
	text-align: center;
	p {
//		color: $color__text-dim;
	}
	
}

.features {
	margin-top: 4.8rem;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;     
    justify-content: space-between;
    .card {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	   	flex-basis: 31.5%; 
    }
	.card:hover {
// 		transform: translateY(-.2rem);
		.card_graphic img {
			@include transform(scale(1.1), translate(-50%, -50%));
			transform-origin: center;
		}
	}
	.card {
		@include media-breakpoint-down(sm) {
			margin-bottom: 1.6rem;
			flex-basis: 100%;
		}
	}
}


.features .carousel {
	.card {
		position: relative;
		z-index: 1001;
		background: transparent;
		border-color: transparent;
		cursor: pointer;
		@include border-radius(.8rem);
		&:hover {
			background: $white;
		}
	}
	.active .card {
		@include media-breakpoint-up(md) {
// 			border-color: $color_brand;
			background: $white;			
		}
	}
}

.card {
	overflow: hidden;
}


.card_text {
	padding: 1.6rem 2.4rem 0rem;
// 	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

.card_graphic {
	max-height: 24rem;
	height: 24rem;
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 899;
/*
	display: flex;
	flex: 1;
*/
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		object-fit: cover;
// 	    width: 100%;
	    max-height: 100%;
	    z-index: 899;
	}
}

.integrations {
	padding: 8rem 0 9.6rem;
	padding: 7.2rem 0 9.6rem;
	@include box-shadow(inset 0 -1px 0 rgba($gray-900, .125));
	.card {
		height: 8rem;
		justify-content: center;
		border-color: transparent;
		overflow: hidden;
		&:hover {
			background: #FFFFFF;
			border: 1px solid $color_brand;
			@include box-shadow(0 4px 8px rgba($gray-900, .125));
			@include border-radius(.8rem);
			.btn {
				display: block;
				opacity: 1;
				visibility: visible;
				@include transform(translate(0, 0));
			}
		}
		img {
			display: block;
 			padding: 1.6rem;
			margin: 0 auto;
			max-width: 80%;
		}
	}
	.btn {
/*
		display: none;
		opacity: 0;
		visibility: hidden;
*/
// 		@include transform(translate(0, 100%));
	}
}

.social_proof {
	@include media-breakpoint-up(md) {
		background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #F8F9FC));
		background: linear-gradient(to right, #ffffff 50%, #F8F9FC 50%);
		
	}
	padding-top: 9vh;

}

.testimonials {
/*
	padding: 8rem 0 9.6rem;
	padding: 9vh 0 0;
*/
	padding-bottom: 10.5vh;
	.desig {
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: $lighter;
	}
}

.clients {
	padding-bottom:  9.6rem;
	
	@include media-breakpoint-down(sm) {
		padding-top: 7.2rem;
		background: #f8f9fc;
 		margin-bottom: 10.5vh;
	}
}

.call_to_action {
	background: $white;
	padding: 8rem 0 9.6rem;
	padding: 7.2rem 0 9.6rem;	
// 	text-align: center;
//	background: $color_brand;
//	color: $white;
	box-shadow: inset 0px 1px 0px rgba($gray-900, .125);
	.form-control {
		padding: 1.5rem 2.4rem;
	}
	form {
		position: relative;
		margin-top: 4rem;
		@include media-breakpoint-down(sm) {
			margin-top: 1.6rem;			
		}
	}
	label {
// 		Clipped to make it invisible yet accessible
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
	}
	button {
		position: absolute;
		top: .4rem;
		right: .4rem;
	}
}