.integration_grid_content {
 	padding: 7.2rem 0 9.6rem;
// 	background: $snow;
 	background: #F8F9FC;
 	@include media-breakpoint-down(sm) {
		padding: 4.8rem 0 6.4rem;
	}
}

aside {
	.list-group {
		margin-bottom: 3.2rem;
	}
	ul {
		padding: 0;
		list-style: none;
		margin-bottom: 3.2rem;
/*
		@include media-breakpoint-down(md) {
			display: none !important;
		}
*/
	}
	li {
		display: block;
	}
	a {
		display: inline-block;
		padding: .8rem 1.6rem;
		@include border-radius(2rem);
	}
	@include media-breakpoint-down(md) {
		order: 2;
// 		display: none !important;
	}
}

.minor_cta {
	padding: 3.2rem 2.4rem;
	background: #F1F2F6;
	@include border-radius(.8rem);
	
}

.grid {
	article {
		max-width: 100%;
		background: $white;
		padding: 1.5rem;
		margin-bottom: 2rem;
		@include border-radius(.8rem);
		flex-direction: column;
		justify-content: space-between;
 		border: 1px solid rgba($gray-900,.125);
 		@include transition(box-shadow 0.3s ease);
 		display: flex;
 		flex-basis: 100%;
 		position: relative;
 		a {
	 		position: absolute;
	 		left: 0;
	 		top: 0;
	 		width: 100%;
	 		height: 100%;
 		}
 		&:hover {
	 		@include box-shadow(0 .4rem .8rem rgba($gray-900, .125));
 		}
 		p {
	 		padding-bottom: 0;
 		}
	}
	@include media-breakpoint-down(sm) {
		article {
			padding: 1.5rem;
			margin-bottom: 1.6rem;
			h4 {
		 		padding-bottom: 0;	
	 		}
	 		.text {
		 		display: none;
	 		}
		}

	}
}

.featured_integrations {
	margin-top: 4rem;
	figure {
		height: 7.2rem;
		padding: 1.2rem 0;
		margin-bottom: 1.6rem;
		flex: 1;
		@include media-breakpoint-down(sm) {
			flex: 100%;
			align-items: center;
// 			margin-right: 1.6rem;
// 			display: inline-flex;
			margin-bottom: 0;
// 			max-width: 6.4rem;
			height: 4.8rem;
			padding: 0;
			display: inline-flex;
		}
	}
	img {
		max-height: 4.8rem;
		margin: 0 auto;
	}
	.text {
		flex: 1 1 auto;
		@include media-breakpoint-down(sm) {
// 			flex: 1 1 0;
		}
	}
	.splunk {
		background: $black;
		color: $white;
	}
	.desk {
		background: #3F51B5;
		color: $white;
	}
	.jira {
		background: #0052CC;
		color: $white;
	}
}

.integration_grid {
	margin-top: 3.2rem;
	.card_heading {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;
	}
	.text {
		flex: 3;
		margin-top: 1.6rem;
	}
	figure {
		height: 3.2rem;
		width: 3.2rem;
		min-width: 3.2rem;
		margin-right: .8rem;
		display: inline-flex;
	}
	h5 {
// 		margin-top: .4rem;
		padding-bottom: 0;
	}
}

.help_links {
	.btn {
		margin-bottom: .8rem;
		display: block;
		@include media-breakpoint-down(sm) {
			display: inline-block;
			margin-right: 1.6rem;
		}
	}	
}