.page-template {
// 	background: $snow;
}
.entry-header {
	padding: 7.2rem 0 9.6rem;
	background: $white;
	position: relative;
	@include media-breakpoint-down(sm) {
		padding: 5.6rem 0 6.4rem;
	}
}

#with-background {
	background-size: cover;
	background-position: center center;
	color: $white;
	position: relative;
	@include media-breakpoint-up(sm) {
 		min-height: 40rem;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($gray-900, .32);
		z-index: 900;
	}
}

.entry-container {
	background: $snow;
}

.post_grid {
	margin-top: -5.6rem;
	padding-bottom: 9.6rem;
/*
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
*/

	article {
		display: flex;
		flex-direction: column;
		margin-bottom: 2.4rem;
		@include media-breakpoint-up(sm) {
			min-height: 53.6rem;		
		}
	}
	.card_graphic {
		align-items: flex-end;
	}
	.meta {
		@include media-breakpoint-up(sm) {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0 2.4rem;
		}
	}
}

.card {
	
}

.card_text {
	footer {
		margin-bottom: 1.6rem;
		margin-top: -2.8rem;
		position: relative;
		z-index: 1001;
	}
	h4 {
		@include media-breakpoint-up(sm) {
			min-height: 11.2rem;
		}
	}
}

.entry-footer {
	z-index: 1001;
	position: relative;
	margin-bottom: 1.6rem;
}

.meta {
	display: flex;
	align-items: center;
	margin-bottom: 2.4rem;

}


.divider {
	height: .4rem;
	width: .4rem;
	background: $gray-300;
	display: inline-block;
	margin: 0 .8rem;
	@include border-radius(50%);
}

.cat-links {
	display: block;
	overflow: hidden;
	height: 2.4rem;
	span {
		display: inline-block;
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $gray-900;
		text-transform: uppercase;
		font-weight: bold;
		padding: .6rem .8rem .2rem;
		background: #FFECB3;
		@include border-radius(1.2rem);

	}
}

.posted-on {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	line-height: 1.6rem;
	opacity: .72;
}

.byline {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.author {
	text-transform: capitalize;
	display: inline-block;
	line-height: 1;
}

.avatar-container {
	@include border-radius(.4rem);
	overflow: hidden;
	margin-right: .8rem;
	display: inline-block;
}

.post_link {
 	position: absolute;
	color: inherit;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	&:hover {
		text-decoration: none;
	}
}

.excerpt {
	color: $gray-700;
	flex: 1;
	display: flex;
}

.post {
	background: $snow;
	.entry-content {
		padding-top: 4.8rem;
		padding-bottom: 3.2rem;
		p, ol, ul {
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(lg) {
				max-width: 66.66%;			
			}
		}
		p:first-of-type {
			font-size: 2.4rem;
			line-height: 1.333333;
		}
		img {
			height: auto;
			margin-bottom: 3.2rem;
		
		}
		figure {
			margin-bottom: 3.2rem;
			> img {
				margin-bottom: .8rem;
			}
		}
		figcaption {
			font-size: 1.4rem;
			line-height: 2.4rem;
			margin: 0 auto;
			@include media-breakpoint-up(md) {
				max-width: 66.66%;			
			}
			color: $gray-700;
		}
	}
	
}

.question_cta {
	background: $white;
	padding: 3.1rem;
	border: 1px solid rgba($gray-900, .125);
	text-align: center;
	@include border-radius(.8rem);
	margin-bottom: 9.6rem;
}

.related-posts {
	padding: 7.2rem 0 7.2rem;
	article {
		min-height: 32rem;
		margin-bottom: 2.4rem;
	}
}