.pricing_table_container {
	background: $snow;
	padding-bottom: 9.6rem;
}

.pricing_table {
	position: relative;
	top: -4.5vh;
	background: $white;
	border: 1px solid rgba($gray-900, .125);
	@include border-radius($border-radius);
	@include box-shadow(0 4px 8px rgba($gray-900, .125));
}

.price_matrix {
	display: grid;
	grid-template-columns: repeat(5,1fr);
}

.price_matrix_top {

}

.feature_list, .plan {
// 	flex-basis: 20%;
	display: flex;
	position: relative;
	flex-direction: column;
	padding-bottom: 8.8rem;
	.badge {
		position: absolute;
		top: -2rem;
		left: 0;
		right: 0;
		@include border-radius(0);
		background: $color_brand;
		color: $white;
	}
}

.plan.recommended {
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
// 		@include box-shadow(0 0 0px 1px $color_brand, 0 4px 8px rgba($gray-900, .125));		
		border: 1px solid $color_brand;
		border-top: 0;
		z-index: 999;
	}

}

.plan_snippet {
	padding: 4.8rem 2.4rem 4rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	@include box-shadow(inset 0 -1px rgba($gray-900, .125));
	position: relative;
	z-index: 1001;
}
.plan_prices {
	flex: 1;
}

.large_number {
	font-size: 4.2rem;
	line-height: 4.8rem;
	font-weight: bold;
	display: block;
	letter-spacing: -0.35px;
}
.dolla_sign {
	position: relative;
	vertical-align: text-top;
	display: inline-block;
	line-height: 1;
	opacity: .48;
	top: .8rem;
}
.plan_excerpt {
	display: flex;
	flex: 1 1 auto;
	color: $gray-500;
}
.plan_cta {
    display: flex;
    align-items: flex-end;
}
.feature_detailed_list {
	
}
.plan_details {
	vertical-align: middle;
}
.feature_availability {
	display: block;
	margin: 0 auto;
}
.tick {
	height: 3.2rem;
	width: 3.2rem;
	text-indent: -9999em;
	overflow: hidden;
	&.yes {
		background: url(img/icons/check.svg) no-repeat center center;

	}
}
.each_feature {
 	padding: 1.2rem 2.4rem;
	min-height: 7.2rem;
	align-content: center;
/*
	position: relative;
	z-index: 1001;
*/

	&:nth-of-type(odd) {
		background: $snow;		
	}
}
.feature_labels {
	.each_feature {
		padding-left: 2.4rem;
	}
}
.feature_label {
	padding: 0 1.6rem 0 2.4rem;
}

@include media-breakpoint-down(lg) {
	.price_matrix {
		grid-template-columns: repeat(4,1fr);
	}
	.feature_list {
		display: none;
	}

}

@include media-breakpoint-down(md) {
	.pricing_table {
		background: transparent;
		@include box-shadow(0 0 0 rgba($gray-900, 0));
		border: none;
	}
	.pricing_table_container {
		padding-bottom: 5.6rem;
	}
	.price_matrix {
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 2rem;
	}

	.plan {
		background: $white;
		margin-bottom: 2.4rem;
		padding-bottom: 1.6rem;
		border: 1px solid rgba($gray-900, 0.125);
		@include border-radius(.8rem);
		overflow: hidden;
		@include box-shadow(0 4px 8px rgba($gray-900, .125));
		order: 2;
		&:after {
			@include border-radius(.8rem);
		}
		.badge {
			top: 0;
		}
	}
	.plan.recommended {
		@include box-shadow(0 4px 8px rgba($gray-900, .125));	
		order: 1;
	}
	.each_feature {
		background: $white;
		@include box-shadow(inset 0 -1px rgba($gray-900, .125));
		&:last-of-type {
			@include box-shadow(0 0 0 transparent);
		}
		&:nth-of-type(odd) {
			background: $white;		
		}
		
	}
}

.testimony {
	padding: 7.2rem 0 9.6rem;
}

.faq {
	padding: 7.2rem 0 9.6rem;
	background: #F8F9FC;	
	margin-bottom: 2.4rem;
	.questions {
		margin-top: 4.8rem;

/*
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 7.2rem;
*/
	}
	.question {
		padding: 0 1.6rem;
		margin-bottom: 2.4rem;
	}
}

.small_print {
	padding-bottom: 8rem;
}

@include media-breakpoint-down(sm) {
	.price_matrix {
		grid-template-columns: repeat(1,1fr);
	}
	.plan:last-of-type {
		margin-bottom: 0;
	}
	.plan {
		order: 2;
		&.recommended {
			order: 1;
		}
	}
}