.tag {
	display: inline-block;
	color: $gray-500;
	font-size: 1.4rem;
	line-height: 2.4rem;
	padding: .7rem 1.5rem;
	background: $white;
	border: 1px solid $snow;
	margin-bottom: .8rem;
	margin-right: .8rem;
	&:hover {
		text-decoration: none;
		background: $snow;
		color: $color_brand;
	}
}
