$color_brand: #3F51B5; // #304FFE;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #232535;
$color__text-dim: #44454B;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color_brand;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #232535;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


/*Whites*/
$white:		#fff;
$snow:		#F8F9FC;
$silver:	#E3E4E8;
$off:		#D1D2D6;

/*Greys*/
$light:		#67676D;
$lighter:	#9798A1;