$font__main: "FONTSPRINGDEMO-RectaRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
// $font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// $font__pre: "Courier 10 Pitch", Courier, monospace;
/*
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
*/
