a {
	color: $color__link;
	text-decoration: none;
	&:visited {
// 		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
// 		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a:link {
	text-decoration-skip: ink;
}

.content a:not[class="btn"] {
// 	text-decoration: $link-hover-decoration;
}

.back_link {
	position: absolute;
	top: 2.4rem;	
	@include media-breakpoint-down(sm) {
		display: none;
	}
}