.main-navigation {
	display: flex;
	justify-content: flex-end;
    align-items: center;
    flex: 1;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
//		float: left;
		position: relative;
		display: inline-block;
		
		&:hover > a,
		&.focus > a {
			color: $color_brand;
		}
		&.btn {
			padding: 1.1rem 2.3rem;
			a {
				padding: 0;
				color: $white;
			}
		}
	}
	a {
		text-decoration: none;
		display: block;
		color: $gray-600;
		padding: 1.1rem 1.5rem;
		border: 1px solid transparent;
	}

	.current_page_item > .nav-link,
	.current-menu-item > .nav-link,
	.current_page_ancestor > .nav-link,
	.current-menu-ancestor > .nav-link {
		color: $color_brand;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
// 	display: none;
}

@include media-breakpoint-up(md) {
	.menu-toggle {
		display: none !important;
	}
	.main-navigation ul {
		display: block;
	}	
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
