@include media-breakpoint-up(sm) {
	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.6rem !important;
		margin-top: .8rem;
	}
	
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.6rem !important;
		margin-top: .8rem;
	}
}

.alignright, .alignleft {
	margin-bottom: 1.6rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.aligncenter {
	clear: both;
// 	@include center-block;
}
